/* App.js */
.container {
  margin: auto;
  margin-top: 8em;
  padding: 16px;
  width: 480px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid rgb(234, 234, 234);
  font-family: 'Helvetica Neue', sans-serif, sans-serif;
}

.link {
  text-decoration: none;
  color: black;
}

.title {
  font-size: 2em;
  margin: 16px;
}

/* Wallet Summary */
.walletSummaryContainer {
  display: flex;
  margin: 16px;
}

.userProfile {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.profilePic {
  border: 1px solid rgb(233, 233, 233);
  border-radius: 4px;
  background: 1px solid rgb(236, 236, 236);
}

.address {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  color:rgb(116, 116, 116);
  width: 112px;
}
.txnSummaryContainer {
  display: flex;
  flex-direction: column;
  margin: 16px;
  margin-left: 40px;
  gap: 4px;
}

.textElem {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

.txnCount {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  gap: 4px;
}

.buttonsRow {
  display: flex;
  gap: 8px;
}

.buttons {
  font-size: 0.6em;
  border: 1px solid black;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 8px;
  cursor: pointer;
}

.buttons:hover {
  border: 1px solid grey;
  background-color: antiquewhite;
}

.buttons:active {
  border: 1px solid grey;
  background-color: rgb(255, 222, 179);
}

.chainLogo {
  filter: invert(1);
}

.copyText {
  cursor: pointer;
}

/* ChainSelector */
.buttonsContainer {
  display: flex;
  margin: 16px;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 8px;
}

.ant-btn {
  display: inline-flex;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* TokenAllocation */
.tokenAllocationContainer {
  padding-top: 32px;
  margin: 16px;
}
.tokenTitle {
  font-size: 1.5em;
}
.flex {
  display: flex;
}

.networthContainer {
  display: flex;
  margin: 32px;
  flex-direction: column;
}

/* Tokens */
.tokenContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tokenRow {
  display: flex;
  justify-content: space-between;
  margin: 4px;
  margin-left: 32px;
  margin-right: 16px;
  align-items: center;
}

.alignLeft {
  margin-right: auto;
  padding-left: 16px;
}

.spinner {
  text-align: center;
  margin-top: 64px;
}

.row {
  padding: 16px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tokenName {
  font-weight: 500;
}

.tokenBalance {
  color:rgb(112, 112, 112);
}

.left {
  display: flex;
  align-items: center;
}

.left-info-container {
  display: flex;
  flex-direction: column;
  height: 48px;
  padding-left: 8px;
  justify-content: space-between;
}


.tokenLogo {
  border-radius: 50%;
  height: 25px;
}

.tokenLogo::before {
  border-radius: 50%;
  height: 25px;
  background-color: antiquewhite;
}

.tokenLogo::after {
  border-radius: 50%;
  height: 25px;
  background-color: antiquewhite;
}

.debug {
  border: 1px solid red;
}
.right {
  display: flex;
  flex-direction: column;
  height: 48px;
  justify-content: space-between;
  align-items: end;
}
