.container {
  margin: auto;
  margin-top: 12em;
  width: 24em;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid rgb(234, 234, 234);
  font-family: 'Helvetica Neue', sans-serif, sans-serif;
}

.row {
  padding: 16px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
}

.tokenName {
  font-weight: 500;
}

.tokenBalance {
  color:rgb(112, 112, 112);
}

.left {
  display: flex;
  align-items: center;
}

.left-info-container {
  display: flex;
  flex-direction: column;
  height: 48px;
  padding-left: 8px;
  justify-content: space-between;
}


.tokenLogo {
  border-radius: 50%;
  height: 56px;
}

.right {
  display: flex;
  flex-direction: column;
  height: 48px;
  justify-content: space-between;
  align-items: end;
}

.tokenValue {

}

.percentageChange {

}